:root {
  /* Colours */
  --color-bg: #e8deae; /* page background /*

  /* Header */
  --color-overskift: #ffffff;

  /* p */
  --color-logotype-bg: #ffffff;
  --color-text-logotype: #ffffff;
  --font-logotype-size: 4rem;
  font-size: var(--color-headline-bg);
}
/*******HEADER********/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #e8deaefc;
  position: sticky;
  top: 0;
  z-index: 10;
}

.alice_logo_orang img {
  height: 60px;
  width: auto;
}

.nav-links {
  font-family: "Paprika", system-ui;
  display: flex;
  list-style: none;
  gap: 20px;
  color: var(--gron_moerk);
}

.nav-links a:hover,
.nav-links a.active {
  color: #e3ab3c;
}

body {
  display: grid;
  grid-template-rows: auto auto;
  min-height: 100vh; /* i stedet for height */
  margin: 0 auto;
  background-color: var(--baggrund);
}

/*********FOOTER********/
footer {
  text-align: center;
  padding: 10px;
  background-color: #44613c;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.socials img {
  width: 38.5px;
  height: 32px;
}
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 30px;
  justify-items: center;
}

.image-gallery img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-gallery img:hover {
  transform: scale(1.03);
}

/**********FONTS********/
:root {
  --baggrund: #e9dfb7;
  --top: #e9dfb7;
  --gron: #3e5639;
  --gron_moerk: #2f452c;
  --guld: #e1b94e;
  --tekst: #1e1e1e;
  --max: 1200px;
}

p,
.nobile-regular {
  font-family: "Nobile", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3,
.paprika-regular {
  font-family: "Paprika", system-ui;
  font-weight: 400;
  font-style: normal;
}

/******** måske fucked *******/
h1 {
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
  min-height: 4lh;
}
