:root {
  --baggrund: #e9dfb7;
  --top: #e9dfb7;
  --gron: #3e5639;
  --gron_moerk: #2f452c;
  --guld: #e1b94e;
  --tekst: #1e1e1e;
  --max: 1200px;
}

h1,
.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 5lh;
  margin-bottom: 1lh;
  color: #e1b94e;
  justify-self: center;
}

p,
.nobile-regular {
  font-family: "Nobile", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3,
.paprika-regular {
  font-family: "Paprika", system-ui;
  font-weight: 400;
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
  min-height: 4lh;
}

/* LAYOUT FOR MAIN CONTENT */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 1200px;
  background-color: #e8deaefc;
  margin: 0 auto;
}
.nav {
  max-width: var(--max);
  margin: 0 auto;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  gap: 18px;
}
.nav-links {
  font-family: "Paprika", system-ui;
  font-weight: 400;
  font-style: normal;
  display: flex;
  list-style: none;
  gap: 20px;
  color: #335c3d;
}

.nav-links a:hover,
.nav-links a.active {
  color: #e3ab3c;
}

/************* hero video **********/

.hero_video {
  aspect-ratio: 16/9;
  overflow: hidden;
  border: 2px solid #e1b94e;
  background: #c9c9c9;
}

.hero_video iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

/************* Alice kort **********/

.om_alice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 16px;
}

.kort {
  background: #335c3d;
  color: #fff;
  padding: 16px;
}

.om_alice p,
.om_alice h2 {
  color: #ffffff;
}
.om_alice h1 {
  color: #e1b94e;
}
.om_alice img {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.kort_tekst p {
  margin: 0 0 10px;
  line-height: 1.5;
}

.kort_billede {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.kort_indhold_indre {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

/* Titel */
.kort_titel {
  margin: 0 0 12px;
  color: #e1b94e;
}

.kort-1 .kort_indhold_indre,
.kort-4 .kort_indhold_indre {
  flex-direction: row;
}

.kort-2 .kort_indhold_indre,
.kort-3 .kort_indhold_indre {
  flex-direction: row-reverse;
}

@media (max-width: 500px) {
  .om_alice {
    grid-template-columns: 1fr;
  }

  .kort-1 .kort_indhold_indre,
  .kort-3 .kort_indhold_indre {
    flex-direction: row-reverse;
  }

  .kort-2 .kort_indhold_indre,
  .kort-4 .kort_indhold_indre {
    flex-direction: row;
  }

  .kort_billede {
    width: 100%;
    height: 170px;
  }
}
