/************* hero video **********/

.hero_video {
  aspect-ratio: 16/9;
  overflow: hidden;
  border: 2px solid #e1b94e;
  background: #c9c9c9;
}

.hero_video iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

/************* Alice kort **********/

.om_alice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 16px;
}

.kort {
  background: #335c3d;
  color: #fff;
  padding: 16px;
}

.om_alice p,
.om_alice h2 {
  color: #ffffff;
}
.om_alice h1 {
  color: #e1b94e;
}
.om_alice img {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.kort_tekst p {
  margin: 0 0 10px;
  line-height: 1.5;
}

.kort_billede {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.kort_indhold_indre {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

/* Titel */
.kort_titel {
  margin: 0 0 12px;
  color: #e1b94e;
}

.kort-1 .kort_indhold_indre,
.kort-4 .kort_indhold_indre {
  flex-direction: row;
}

.kort-2 .kort_indhold_indre,
.kort-3 .kort_indhold_indre {
  flex-direction: row-reverse;
}

@media (max-width: 500px) {
  .om_alice {
    grid-template-columns: 1fr;
  }

  .kort-1 .kort_indhold_indre,
  .kort-3 .kort_indhold_indre {
    flex-direction: row-reverse;
  }

  .kort-2 .kort_indhold_indre,
  .kort-4 .kort_indhold_indre {
    flex-direction: row;
  }

  .kort_billede {
    width: 100%;
    height: 170px;
  }
}
