main {
  max-width: 1200px;
  margin-inline: auto;
}

/**********galleri desktop************/
@media (min-width: 840px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}

/***baggrunden***/

body {
  background-color: #e8deae;
  color: rgb(182, 149, 149);
}

.bookninger {
  background-color: #44613c;
}

.forsideselskab {
  height: auto;
  margin: 20px 0;
}

.forsideselskab {
  max-width: 900px;
  margin-inline: auto;
  gap: 15px;
  justify-items: center;
}

.grid_2-1 {
}
