body {
  background-color: #e8deae;
  color: white;
}

.bookninger {
  background-color: #44613c;
}



.forsideselskab {
  width: 400px;
  height: auto;
  margin: 20px 0;
}

.forsideselskab {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  justify-items: center;
}

